"*":
  "atom-terragrunt-hclfmt":
    extensions: [
      ".hcl"
      ".tf"
    ]
  core:
    projectHome: "/home/ernestas/code"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    fontSize: 15
    preferredLineLength: 99
  "exception-reporting":
    userId: "9c45fdbb-a65c-4e27-93eb-6a8ef3e6da6a"
  github:
    remoteFetchProtocol: "ssh"
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "markdown-preview": {}
  "one-dark-ui":
    fontSize: 13
  terminus:
    ansiColors:
      normal:
        black: "#282c34"
        blue: "#61afef"
        cyan: "#56b6c2"
        green: "#98c379"
        magenta: "#c678dd"
        red: "#e06c75"
        white: "#dcdfe4"
        yellow: "#e5c07b"
      zBright:
        brightBlack: "#282c34"
        brightBlue: "#61afef"
        brightCyan: "#56b6c2"
        brightGreen: "#98c379"
        brightMagenta: "#c678dd"
        brightRed: "#e06c75"
        brightWhite: "#dcdfe4"
        brightYellow: "#e5c07b"
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Active File"
    iconColors:
      black: "#282c34"
      blue: "#61afef"
      cyan: "#56b6c2"
      green: "#98c379"
      magenta: "#c678dd"
      orange: "#f7c364"
      pink: "#f594c4"
      purple: "#c153c1"
      red: "#e06c75"
      yellow: "#e5c07b"
    style:
      defaultPanelHeight: "400px"
      theme: "one-dark"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".hashicorp.interpolation.text":
  editor:
    showInvisibles: false
